@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif; 
}


/* src/components/Login.css */
@keyframes gradient {
  0% {
    background-color: #ff6e7f;
  }
  25% {
    background-color: #bfe9ff;
  }
  50% {
    background-color: #ff6e7f;
  }
  75% {
    background-color: #ffe29f;
  }
  100% {
    background-color: #ff6e7f;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6dd5ed, #2193b0); 
}

.login-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 450px; 
  transition: transform 0.3s; 
}

.login-card:hover {
  transform: translateY(-10px); 
}

.login-card h2 {
  margin-bottom: 15px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.login-card p {
  margin-bottom: 25px;
  color: #666; 
  font-size: 16px; 
}

.login-btn {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  font-weight: bold; 
  margin-bottom: 15px;

}

.login-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1); 
}

.login-card h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}

.logo {
  width: 100px; 
  margin-bottom: 20px; 
}

.details-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px; 
  margin-left: 20px; 
}

.details-card h3 {
  margin-bottom: 13px;
  color: #333; 
}

.details-card p {
  color: #666; 
  font-size: 14px; 
}
