/* src/components/AppDetails.css */
.app-details {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    max-width: 400px; /* Ajusta el ancho del card */
  }
  
  .app-details h2 {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .app-details ul {
    list-style-type: none; /* Quitar viñetas */
    padding: 0; /* Sin padding */
  }
  
  .app-details li {
    margin: 10px 0;
  }
  