/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }
  
  .navbar-logo img {
    width: 50px; /* Ajusta el tamaño del logo */
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-btn {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-btn:hover {
    background-color: #0056b3;
  }
  